body {
    background-color: rgb(122, 83, 57);
}

P{
    color: #ffffff;
    text-shadow: 3px;
    text-align: center;
    font-size: 300%;
}
/* 
#ola{

    color: #9c3737;
    text-shadow: 3px;
    text-align: center;
    font-size: 300%;
    margin: 15%;
} */

div {
    width: 240px;
    height: 160px;
    margin: auto;
    border: 1px solid #ddd;
    padding: 12px 18px 6px;
    color: #ffffff;
}