* { 
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: firebrick;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}
p {
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    border: 5px solid grey;
    background-color: grey;
    border-radius: 15px; 
}